*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


.presentacion{
    background-image: linear-gradient(to right, rgba(36, 57, 73, 0.699) 0%, rgba(81, 127, 164, 0.699) 100%),url(../img/header.webp);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.texto-presentacion{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-presentacion h1{
    font-size: 60px;

}

.texto-presentacion p{
    font-size: 25px;
    margin-bottom: 20px;
}

.texto-presentacion a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background-color: #084259;
    border-radius: 8px;
    color: #fff;
}

.texto-presentacion a:hover{
    background-color: #18608C;
}

.svg-presentacion{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container,
.wave-container{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.container{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.izquierda{
    text-align: left;
}

.page{
    display: flex;
    justify-content: space-between;
}

.page img{
    width: 48%;
}

.page .contenedor-texto-diagnostico{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.learn-more{
    display: inline-block;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
}

.learn-more:hover{
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

.mensaje{
    background: #1D8FE1;
    color: white;
}



.content-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 0 0 80px 0;
}

.card{
    width: 30%;
    text-align: center;
    height: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;

}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card p{
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 10px;
}

.card svg{

    margin: 30px 0 20px 0;
    font-size: 30px;
    fill: #084259;
}

.card h3{
    font-size: 28px;
    font-weight: 500;
}

.mensaje-final{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #a6a6a60a;
}

.mensaje-final img{
    width: 48%;
}

.mensaje-final .contenedor-texto-diagnostico{
    width: 40%;
}

footer{
    background: #18608C;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 25px 10px;
    border-radius: 10px;

}

.input::placeholder{
    color: white;
    font-family: 'Raleway', sans-serif;
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 50%;
    text-align: center;
    padding: 14px 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: #125773;

}

.input-center{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}