
label{
    font-weight: bold;
}

th{
    background-color: #18608C;
    color: white;
    padding: 1rem 0;
}

td{
    padding: 1rem 0;
}

 td{
    border-bottom: 1px solid rgb(194, 194, 194);
    text-align: center !important
}

tr:nth-child(even){
    background-color: rgb(240, 240, 240) !important;
}


tr:hover {
    background-color: aliceblue !important ;
}
tr{
    max-width: 100% !important;
}


table{
    width: 100%;
    max-width: 100% !important;
    
}

.container-table{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.pagination {
    color: #084259;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.page-item a{
    border-radius: 5px;
    border: 1px solid #18608C;
    color: #18608C;

}
.page-item a:hover{
    border-radius: 5px;
    background-color:  #18608C;
    color: white;
}

.active a{
    background-color:  #18608C !important;
    color: white !important;
}
.datatable{
    border-radius: 10px !important;
    box-shadow: 0 1.2rem 0.5rem rgba(0, 0, 0, 0.247);
    overflow: hidden; 
}
.form-control{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194) ;
}

.page-link{
    padding: 1rem;
    color: black;
}
.dataTables_info{
    max-width: 100% !important;
    padding: 1rem !important;
}
.centered{
    text-align: center !important ;
}

.btn-ver{
    margin-top: 0.5rem;
    background-color: white;
    color: #18608C;
    border-radius: 5px;
    border: 1px solid #18608C;
}

.btn-ver:hover{
    
    background-color: #18608C;
    color: white;
}
.form-control{
    height: 3rem;
    width: 50% !important;
}
.form-select{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194) ;
}
.abrir-codigo{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;


}
