<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller AK</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!--Datatables CSS-->
    <link rel="stylesheet" href="./datatables/datatables.min.css">
    <!--Foundation CSS-->
    <link rel="stylesheet" href="./datatables/DataTables-1.13.4/css/dataTables.foundation.min.css">

 
</head>

<body>
    <header class="header">
        <div class="contenido-header">
            <div class="imagen-logo">
                <img src="./assets/img/logo.png">
            </div>
            <nav class="navegacion-principal">
                <a href="./login.html">Cerrar Sesión</a>
                <a href="#">Bryan Cantillo</a>

            </nav>
        </div>
    </header>

    <h2 class="titulo-servicios">Estas en el modulo Inventario</h2>
    <a class=" titulo-servicios abrir-codigo" href="#">
        <h2>Abrir un código para articulos</h2>
    </a>

    <section class="container-menu">
        <div class="container">
            <div>

            </div>
        </div>

    </section>


    <script src="./assets/js/App.js"></script>
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--DataTables-->
    <script src="./assets/datatables/datatables.min.js"></script>

</body>

</html>